.text-hidden {

  .line {
    display: inline-block;
    transform: skewX(-40deg) rotate(4deg) translateX(-3rem) translateY(-.5rem);
    opacity: 0;
    transition: .3s;
  }

  &.text-anim {

    .line {
      transform: skewX(0) rotate(0) translateX(0) translateY(0);
      opacity: 1;
      transition: .3s;
    }
  }
}
