.footer {
  position: relative;
  font-family: $font-alt;
  color: $dark-secondary;

  & > .wrap {
    padding-bottom: 0;
  }

  a {
    color: $dark-primary;
  }

  .footer__box {
    background-color: $light-primary;
    position: relative;
    z-index: 3;
    border: $stroke-width solid $dark-primary;
  }

  .footer__box-top {
    border-bottom: $stroke-width solid $dark-primary;
  }

  .footer__box-bottom {
    padding: 6rem 1rem;
  }

  .footer__col {

    & + .footer__col {
      margin-top: 6rem;
    }
  }

  a[href*="mailto:"] {
    font-size: 1.4rem;
  }

  .footer__map {
    height: 30rem;
  }

  .footer__detail {
    position: relative;
    background-color: $grey-primary;

    .wrap {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 95%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $grey-primary;
    }
  }

  .footer__legal {
    display: block;
    padding-bottom: 2rem;
  }

  .footer__tos {
    position: relative;
    color: $dark-secondary;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 100%;
      border-bottom: $stroke-width solid rgba($dark-secondary,.3);
    }
  }
}

@media (--medium) {
  .footer {
    font-size: 1.4rem;

    .footer__info {
      lost-utility: clearfix;
    }

    .footer__col {
      lost-column: 1/3;

      & + .footer__col {
        margin-top: 0;
      }
    }
  }
}

@media (--medium-large) {
  .footer {

    .footer__detail {

      .wrap {
        padding-top: 5rem;
      }
    }

    .footer__details {
      lost-utility: cleafix;
    }

    .footer__legal {
      lost-column: 2/3 3 8rem;
    }

    .footer__copy {
      lost-column: 1/3 3 8rem;
    }
  }
}

@media (--large) {
  .footer {

    .footer__heading,
    .footer__info {
      lost-center: 1125px flex;
    }

    .footer__heading {
      padding-bottom: 4rem;
    }

    .footer__box-bottom {
      padding: 8rem 8rem;
    }

    .footer__col {
      padding-left: 4rem;
    }
  }
}
