input,
select,
textarea {
	font-family: $font-alt;
	font-weight: 300;
	background-color: rgba($grey-secondary, 0);
	color: $grey-primary;
	padding: 2rem;
	width: 100%;
	border: $stroke-width solid $grey-primary;
	border-radius: 0;
	appearance: none;
}

textarea {
	min-height: 20rem;
}


::placeholder {
	color: $grey-primary;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: $accent-primary;
	color: $accent-primary;

	&::placeholder {
		color: $accent-primary;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.wpcf7-list-item-label {
	font-family: $font-alt;
	display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
  margin-right: 1.5rem;
}

.wpcf7-list-item-label::before {
	content: "";
  display: inline-block;

  width: 1.6rem;
  height: 1.6rem;

  margin-right: 1rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: $light-secondary;
	border-radius:  100%;
}

.wpcf7-checkbox .wpcf7-list-item-label::before {
	background-color: rgba($light-secondary,0);
	border: .1rem solid $grey-primary;
}

input[type="radio"]:checked + .wpcf7-list-item-label::before,
input[type="checkbox"]:checked + .wpcf7-list-item-label::before {
  background-color: $accent-primary;
	border: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
