/* Fonts */
$font-heading: 'Noto Serif', Helvetica, sans-serif;
$font-body: 'Raleway', Helvetica, Arial, sans-serif;
$font-alt: 'Montserrat', Helvetica, Arial, sans-serif;

/* Width Variables */
$width-xsmall: 414px;
$width-small: 540px;
$width-medium: 768px;
$width-medium-large: 1072px;
$width-large: 1350px;
$width-xlarge: 1470px;


/* Media Queries */
@custom-media --xsmall (min-width: 414px);
@custom-media --small (min-width: 540px);
@custom-media --medium (min-width: 768px);
@custom-media --medium-large (min-width: 1072px);
@custom-media --large (min-width: 1350px);
@custom-media --xlarge (min-width: 1800px);

/* Media Queries */
/*
@custom-media --xsmall (min-width: $width-xsmall);
@custom-media --small (min-width: $width-small);
@custom-media --medium (min-width: $width-medium);
@custom-media --medium-large (min-width: $width-medium-large);
@custom-media --large (min-width: $width-large);
@custom-media --xlarge (min-width: $width-xlarge);
*/

/* Colors */
$main-primary: #000;
$main-secondary: #ccc;

$accent-primary: #D9673F;
$accent-secondary: #ff005a;

$grey-primary: #D8D8D8;
$grey-secondary: #eee;

$light-primary: #fff;
$light-secondary: #F5F5F5;
$dark-primary: #262626;
$dark-secondary: #2B2B2B;

$menu-primary: $main-primary;
$menu-secondary: $main-primary;

$link-primary: $accent-primary;
$link-secondary: $accent-secondary;


$stroke-width: 0.2rem;
