.header {
  background-color: $dark-secondary;
  position: fixed;
  width: 100vw;
  padding: 1rem 2rem;
  z-index: 99;
  color: $menu-primary;

  &.headroom--unpinned {
    transform: translateY(0);
  }

  &.headroom--pinned {
    transform: translateY(0);
    transition: 0.3s;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .title-area {
    width: auto;
    text-align: center;
    .logo {
      font-family: $font-heading;
      text-align: center;
      line-height: 0;
      .logo-link {
        img {
          height: 5rem;
        }
      }
    }

    .description {
      font-family: $font-heading;
      font-weight: bold;
      font-style: italic;
    }
  }

  .more {
    width: 100%;
    text-align: right;

    .more__top {

      .social-container,
      .social,
      .phone-container {
        display: none;
      }

    }
  }


  .nav-main {
    margin-left: auto;
    .menu-toggle {
      color: $light-primary;
    }
    ul {
      background: $dark-primary;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 2rem 2rem 3rem;
      display: none;
      border-bottom: 0.1rem solid $grey-primary;
      li {
        text-align: center;
        list-style-type: none;
        a {
          display: inline-block;
          width: 20rem;
          padding: 1rem;
          color: $light-primary;
        }
      }
    }
  }
}

@media (--medium-large) {
  .header {
    padding: 2rem;
    transition: 0.3s;
    width: 100%;
    transform: translateY(-24rem);


    .wrapper {
      border: $stroke-width solid $light-primary;
      lost-center: 100%;
    }

    .title-area {
      border-right: $stroke-width solid $light-primary;
      height: 100%;
      padding: 4rem 7rem 3rem;

      .logo {
        .logo-link {

          img {
            height: 8rem;
            width: auto;
          }
        }
      }
    }

    .more {
      display: block;
      width: 100%;
      text-align: right;
      color: $light-primary;

      .more__top
      .more__bottom {
        width: 100%;
        display: block;
      }

      .more__top {
        padding: 1.5rem 0;

        .social-container,
        .social,
        .phone-container {
          display: inline-block;
        }

        .social-container {
          margin-right: 6rem;
        }

        .social {

          .social__link {
            padding: 2rem 1.5rem;
            color: $light-primary;
          }
        }

        .phone-container {
          margin-right: 7rem;
        }
      }

      .more__bottom {
        border-top: $stroke-width solid $light-primary;
      }
    }

    .nav-main {
      position: relative;
      margin-left: auto;
      .menu-toggle {
        display: none !important;
      }
      ul {
        &.main-menu {
          display: inline-block !important;
        }
        &[class*="menu"] {
          position: relative;
          background: rgba(0,0,0,0);
          padding: 0;
          padding-right: 5rem;
          display: inline-block !important;
          border: none;
          li {
            display: inline-block;
            &.menu-item-has-children {
              position: relative;
              &:hover {
                & > ul.menu-submenu {
                  opacity: 1;
                  display: inline-block;
                }
              }
            }
            a {
              border: none;
              padding: 3rem 2rem;
              width: auto;
              color: $light-primary;
            }

            &.in-view {

              a {
                color: $accent-primary;
                font-weight: 800;
              }
            }
          }
        }
        &.menu-submenu {
          opacity: 0;
          display: none;
          position: absolute;
          background: $light-primary;
          width: 20rem;
          li {
            width: 100%;
            a {
              text-align: center;
              width: 100%;
              padding: 1rem;
            }
          }
        }
      }

      .indicator {
        position: absolute;
        bottom: -1.5rem;
        left: 10rem;
        height: 3rem;
        width: calc(4rem + $stroke-width);
        background-color: $light-primary;
        border-right: 2rem solid $dark-secondary;
        border-left: 2rem solid $dark-secondary;
        z-index: 100;
        transition: 0.3s;
      }
    }
  }
}
