<footer class="footer" itemscope itemtype="//schema.org/WPFooter" id="contact">
  <div class="wrap">
    <div class="footer__inner">
      <div class="footer__header">
        <h2 class="xlarge footer__heading">Contact Us</h2>
      </div>
      <div class="footer__box wrap--narrow">
        <div class="footer__box-top">
          <div id="map" class="footer__map"></div>
        </div>
        <div class="footer__box-bottom">
          <div class="footer__info">
            <div class="footer__col">
              <h3 class="large footer__title">Location</h3>
              <p class="footer__location">{{location_name}}<br>
              {{street_address}},<br>
              {{city}}, {{province}}, {{postal_code}}</p>
            </div>
            <div class="footer__col">
              <h3 class="large footer__title">Contact</h3>
              <p class="footer__contact">{{contact_name}}<br>
              <a href="mailto:{{contact_email}}">{{contact_email}}</a><br>
              {{contact_phone}}</p>
            </div>
            <div class="footer__col">
              <h3 class="large footer__title">Hours</h3>
              <p class="footer__hours">{{hours}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__detail">
    <div class="wrap">
      <div class="footer__details">
        <small class="footer__legal">{{legal}}</small>
        <small class="footer__copy">
         &copy; {{"now"|date('Y') | trim}} The Lakestone Downtown All Rights Reserved <br>
         Website by <a href="//martketer.ca">Martketer Inc.</a><br>
        <a class="footer__tos" href="/tos">Terms & Services</a></small>
      </div>
    </div>
  </div>
</footer>
