<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
  <meta charset="{{site.charset}}" />
    <title>
      {% if wp_title %}
        {{ wp_title }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="The Lakestone Downtown" />
  <meta property="og:type" content="website" />
  <meta name="og:description" content="Located in the heart of Penticton, The Lakestone Downtown rises above the downtown core. Designed with beauty and quality in mind, The Lakestone Downtown allows you to enjoy amazing views of Okanagan Lake.">
  <meta property="og:url" content="https://thelakestonedowntown.com" />
  <meta property="og:image" content="https://thelakestonedowntown.com/wp-content/themes/lakestone/dist/img/og.jpg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/lakestone/dist/img/favicon/apple-touch-icon.png?v=Jy7kQwv4bY">
  <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/lakestone/dist/img/favicon/favicon-32x32.png?v=Jy7kQwv4bY">
  <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/lakestone/dist/img/favicon/favicon-16x16.png?v=Jy7kQwv4bY">
  <link rel="manifest" href="/wp-content/themes/lakestone/dist/img/favicon/manifest.json?v=Jy7kQwv4bY">
  <link rel="mask-icon" href="/wp-content/themes/lakestone/dist/img/favicon/safari-pinned-tab.svg?v=Jy7kQwv4bY" color="#5bbad5">
  <link rel="shortcut icon" href="/wp-content/themes/lakestone/dist/img/favicon/favicon.ico?v=Jy7kQwv4bY">
  <meta name="msapplication-config" content="/wp-content/themes/lakestone/dist/img/favicon/browserconfig.xml?v=Jy7kQwv4bY">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Noto+Serif:700|Raleway:300,800" rel="stylesheet">
  {% include 'partials/_analytics.twig' %}
  {{function('wp_head')}}
