<header class="header" itemscope itemtype="//schema.org/WPHeader">
  {% block header %}
    <div class="wrapper">
      <div class="title-area">
        <div class="logo">
          <a class="logo-link" href="/" rel="home">
            <img src="{{site.theme.link}}/dist/img/logo.svg" alt="{{site.name}} Logo" />
          </a>
        </div>
        <div class="description">
          <span>{{site.description}}</span>
        </div>
      </div>
      <div class="more">
        <div class="more__top">
          <div class="social-container">
            {% for item in accounts %}
            <div class="social">
              <a class="social__link" href="{{item.link}}" target="_blank">
                <i class="fa fa-{{item.icon}} social__icon"></i>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="phone-container">
            <span class="phone">
              {{contact_phone}}
            </span>
          </div>
        </div>
        <div class="more__bottom">
          <nav class="nav-main" role="navigation" itemscope itemtype="//schema.org/SiteNavigationElement">
            <div class="indicator"></div>
            {% include "partials/_menu.twig" with {'menu': menu.get_items} %}
          </nav>
        </div>
      </div>
    </div>
  {% endblock %}
</header>
