.home {

  .graphic {
    background: rgba($light-primary, 0);

    .graphic__container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    .graphic__image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      height: 100vh;
      z-index: 3;
      opacity: .85;

      background-image: url('/wp-content/themes/lakestone/dist/img/intro-xsmall.png');
      background-size: auto 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .hero {
    background: rgba($dark-secondary, 0);
    color: $light-primary;
    margin-top: 100vh;
    overflow-y: hidden;

    .bg-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    .bg-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      height: 100vh;

      background-image: url('/wp-content/themes/lakestone/dist/img/hero-bg.jpg');
      background-size: auto 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .hero__heading {
      position: relative;
      z-index: 4;
    }

  }

  .features {
    position: relative;
    z-index: 5;
    background-color: $dark-secondary;
    color: $light-primary;
    text-align: center;

    .features__header {
      margin-bottom: 10rem;
    }

    .feature {

      & + .feature {
        margin-top: 8rem;
      }
    }
  }

  .highlight {
    position: relative;
    color: $light-primary;

    & > .wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
    }

    .highlight__panes {

    }

    .highlight__pane {
      line-height: 0;

      &.highlight__pane--large {

      }
    }

    .highlight__row {
      border-top: $stroke-width solid $dark-primary;

      &:only-of-type {

        .highlight__image {
          height: 150vw;
        }
      }

      &:last-of-type:not(:only-of-type) {
        border-bottom: $stroke-width solid $dark-primary;
      }
    }

    .highlight__heading {
      z-index: 2;
      top: 0;


    }

    .highlight__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 70vw;

    }
  }

  .about {
    background-color: $grey-primary;

    .about__header {
      padding-bottom: 8rem;
    }

    .about__heading {
      margin-bottom: 1.5rem;
    }

    .group {

      & + .group {
        margin-top: 3rem;
      }

      &:hover {

        .group__name {
          color: $accent-primary;
          font-weight: 700;
          transition: 0.3s;
        }
      }

      .group__type {
        margin-bottom: .5rem;
      }
    }
  }

  .register {
    background-color: $dark-secondary;
    color: $light-primary;

    .register__header {
      padding-bottom: 6rem;
    }

    .register__heading {
      margin-bottom: .5rem;
    }

    .register__form {

      .input {
        margin-bottom: 2rem;

        .input__label {
          display: block;

          &.input__label--alt {
            padding-bottom: 2rem;
          }
        }

        &.input--alt {
          background-color: rgba($light-secondary,.37);
          padding: 2rem;
        }
      }
    }
  }
}

@media (--small) {
  .home {

    .highlight {

      .highlight__pane {

        &.highlight__pane--small {
          background: $dark-primary;
          lost-center:100% flex;

          .highlight__row {
            lost-column: 1/2 2 0;
            border-top: $stroke-width solid $dark-primary;
            border-bottom: 0;
            border-left: 0;
            border-right: $stroke-width solid $dark-primary;

            &:last-of-type {
              position: relative;
            }
          }
        }
      }

      .highlight__row {

        &:only-of-type {

          .highlight__image {
            height: 60vw;
          }
        }
      }

      .highlight__image {
        height: 60vw;
      }

      .highlight__heading {

        .line {
          background-color: none;
          padding: 0;

          &:first-of-type,
          &:not(:first-of-type):not(:last-of-type),
          &:last-of-type {
            border: 0;
            background-color: rgba(0,0,0,0);
          }
        }
      }
    }

    .about {
      position: relative;
      z-index: 2;
      margin-top: -.3rem;
    }

  }
}

@media (--medium) {
  .home {

    .graphic {

      .graphic__image {
        background-image: url('/wp-content/themes/lakestone/dist/img/intro-medium.png');
      }
    }

    .hero {

      & > .wrap {
        padding-top: 35rem;
        padding-bottom: 3rem;
      }
    }

    .features {

      .feature {
        lost-center: 540px;
      }
    }

    .about {

      .about__groups {
        lost-utility: clearfix;
      }

      .group {
        lost-column: 1/3;

        .group__name {
          font-size: 1.5rem;
        }

        & + .group {
          margin-top: 0;
        }
      }

    }

    .register {

      .register__form {

        .inner {
          lost-utility:clearfix;

          .half {
            lost-column: 1/2 2 2rem;
          }

          .full {
            lost-column: 1;
          }

          .input--list {

            .wpcf7-form-control {

              &.wpcf7-checkbox {
                lost-center: 100% flex;
              }
            }

            .wpcf7-list-item {
              lost-column: 1/2 2 0;
              margin: 0;
            }
          }


        }
      }

    }

  }
}

@media (--medium-large) {
  .home {

    .hero {

      & > .wrap {
        padding-bottom: 15rem;
      }
    }

    .about {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom:-45%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: $grey-primary;
      }
    }

    .graphic {

      .graphic__image {
        background-image: url('/wp-content/themes/lakestone/dist/img/intro-medium-large.png');
      }
    }

    .features {

      .features__list-container {
        lost-center: 100% flex;
      }

      .feature {
        lost-column: 1/3 3 1rem;

        & + .feature {
          margin-top: 0;
          padding-left: 1rem;
          border-left: $stroke-width solid rgba($grey-primary, 0.2);
        }
      }
    }

    .highlight {

      & > .wrap {
        padding-top: 15rem;
        padding-bottom: 15rem;
      }

      .highlight__panes {
        background-color: $dark-primary;
        lost-center: 100% flex;
      }


      .highlight__pane {

        &.highlight__pane--large {
          lost-column: 2/3 3 0;
          border-right: $stroke-width solid $dark-primary;
        }

        &.highlight__pane--small {
          lost-column: 1/3 3 0;

          .highlight__row {
            lost-column: 1 1 0;
            position: relative;
          }
        }
      }

      .highlight__image {
        height: 100%;

        &.highlight__image--2,
        &.highlight__image--3 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

    }

    .about {

      .group {
        lost-column: 1/3 3 0rem;

        .group__name {
          font-size: 1.8rem;
        }

        & + .group {
          margin-top: 0;
          padding-left: 3rem;
          border-left: $stroke-width solid rgba($dark-primary, 0.2);
        }
      }

    }

    .register {

      & > .wrap {
        padding-top: 10rem;
        padding-bottom: 10rem;
      }

      .register__form {

        .inner {

          .input--list {

            .wpcf7-list-item {
              lost-column: 1/3 3 0;
            }
          }


        }
      }
    }

  }
}

@media (orientation: landscape) and (max-height: 80rem) {
  .home {

    .hero {

      .bg-image {
        background-size: 100% auto;
      }
    }

  }
}

@media (--large) {
  .home {

    .hero {

      & > .wrap {
        padding-top: 45rem;
        padding-bottom: 20rem;
      }
    }

    .features {

      .feature {

        .feature__heading,
        .feature__body {
          padding: 0 4rem;
        }

        & + .feature {
          border-left: $stroke-width solid $grey-primary;
        }

      }
    }

    .highlight {

      & > .wrap {
        lost-center: 1125px;
        padding-left: 12rem;
      }
    }

    .about {

      .group {
        lost-column: 1/3 3 0rem;

        & + .group {
          padding-left: 6rem;
        }

      }
    }

    .register {

      .register__form {

        .input {

          .input__label {
            display: inline-block;

            & + .wpcf7-form-control-wrap {
              float: right;
            }
          }
        }
      }
    }

  }
}
