{% extends "base.twig" %}

{% block content %}
	<section class="graphic" id="graphic">
		<div class="graphic__container">
			<div class="graphic__image"></div>
		</div>
	</section>
	<section class="hero" id="top">
		<div class="bg-container">
			<div class="bg-image" id="bg"></div>
		</div>
		<div class="wrap">
			<h1 class="shadow-text hero__heading text-hidden">
			{% for item in post.get_field('hero_heading') %}
			  <span class="line">{{item.line}}</span><br>
			{% endfor %}
			</h1>
		</div>
	</section>
	<section class="features" id="features">
		<div class="wrap">
			<div class="features__header">
				<h2 class="xlarge features__heading">{{post.features_heading}}</h2>
			</div>
			<div class="features__list-container">
				{% for item in post.get_field('features') %}
					<div class="feature">
						<h3 class="large feature__heading">{{item.heading}}</h3>
						<div class="feature__body">{{item.body}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="highlight" id="lifestyle">
		<div class="highlight__panes">
			<div class="highlight__pane highlight__pane--large">
				<div class="highlight__row">
					<style media="screen">
						.highlight__image--1 {
							background-image: url({{Image(post.highlight_image_1).src}});
						}
					</style>
					<div class="highlight__image highlight__image--1"></div>
				</div>
			</div>
			<div class="highlight__pane highlight__pane--small">
				<div class="highlight__row">
					<style media="screen">
						.highlight__image--2 {
							background-image: url({{Image(post.highlight_image_2).src}});
						}
					</style>
					<div class="highlight__image highlight__image--2"></div>
				</div>
				<div class="highlight__row">
				<style media="screen">
					.highlight__image--3 {
						background-image: url({{Image(post.highlight_image_3).src}});
					}
				</style>
				<div class="highlight__image highlight__image--3"></div>
				</div>
			</div>
		</div>
		<div class="wrap">
			<h2 class="xlarge highlight__heading shadow-text text-hidden">
			{% for item in post.get_field('highlight_heading') %}
				<span class="line">{{item.line}}</span><br>
			{% endfor %}
			</h2>
		</div>
	</section>
	<section class="about" id="developer">
		<div class="wrap">
			<div class="about__header">
				<h2 class="xlarge about__heading">{{post.about_heading}}</h2>
				<p class="about__body">{{post.about_body}}</p>
			</div>
			<div class="about__groups">
				{% for item in post.get_field('groups') %}
				<div class="group">
					<h4 class="large group__type">{{item.type}}</h4>
					<p class="group__name">{{item.name}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="register wrap--narrow" id="register">
		<div class="wrap">
			<div class="register__header">
				<h2 class="xlarge register__heading">{{post.register_heading}}</h2>
				<p class="register__body">{{post.register_body}}</p>
			</div>
			<div class="register__form">
				{{post.register_shortcode|shortcodes}}
			</div>
		</div>
	</section>
{% endblock %}
